/*!
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 70%;
    border-color: #EE2F5A;
    border-width: 5px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #ED2F59;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover {
    color: #5F5D5D;
}
a:focus {
    color: #EE2F5A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #EE2F5A;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 55px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    height: 120px !important;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: red;
   
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #f05f40;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: white;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: white;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #eb3812;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #f05f40;
    }
}




/*-------------------------------HEADER---------------------------------------*/
header {
    position: relative;
 
    min-height: none;
    text-align: center;
    color: #717277;
    background-color: transparent;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: black;
}

@media(min-width:768px) {
    header {
      
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
margin-bottom: -5px;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
  

}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #ed431f;
    color: #fff;

}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
   
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #f05f40;
    background-color: #f05f40;
}

.btn-primary .badge {
    color: #f05f40;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #222;
}


/*------------------------------------------------------------------------------------*/
.red {
    color: red;
}

.shadow_menu {
 -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.2);
box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}


.pad {
    padding-bottom: 20px;
}

.background-body {
    background-image: url(../img/background.png); 
        background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    text-align: center;
  
    
}
.text-white{
    color: white;
}
.text-gray{
    color: #5F5D5D;
}
.menu {
    background: rgba(255,255,255,1);
    height: 60px; position: fixed;
  right: 0;
  left: 0; text-align: center;
  z-index: 1330;
  max-width: 100%;
}

.font-20{
    font-size: 20px;
}
.text-footer{
    font-size: 12px;
    text-align: left;
       font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.text-menu{
    font-size: 15px;
    text-align: left;
       font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.map-mask{
        background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}

.arco{
        float: right;
    width: 125px;
    height: 40px;
    background: url(../img/logo-arco.png) no-repeat 0px -41px;
    background-size: cover;
}
.arco:hover{
	background: url(../img/logo-arco.png) no-repeat 0px 0px;
background-size: cover;
}
.radius_banner{
  
    -webkit-border-bottom-right-radius: 30px;
-webkit-border-top-left-radius: 30px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-topleft: 30px;
border-bottom-right-radius: 30px;
border-top-left-radius: 30px;
}

.text-header {
    text-align: justify;
    font-size: 12px;
}




 .clientes {
	

	 transition-delay: 1s;
	
}


 .clientes img{
	

	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	
}
.clientes:hover img {

    
   
    cursor: pointer;
   transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    
}



.size-carousel {
   
    width: 100% !important;
}

.shadow_black {
 -webkit-box-shadow: 4px 4px 4px 0px  rgba(0, 0, 0, 0.3s);
-moz-box-shadow:    4px 4px 4px 0px  rgba(0, 0, 0, 0.3);
box-shadow:         4px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.radius_logo{
  
    -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.fade-caption {
    -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

.text-caption{
    
    
        font: normal normal 300 30px / 60px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
        -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    -ms-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    -o-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
}
.title-caption {
 
    
      font: normal normal 300 51px / 60px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
      -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    -ms-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    -o-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);
    font-weight: bold;
    
}